floorplan/floorplan_ref.svg
floorplan/floorplan.svg
floorplan/floorplan_bare.svg
floorplan/floorplan_db.svg
floorplan/floorplan_minik.svg
roof/roof.svg
site/site_plan.pdf
site/site_plan_df.pdf
span/span.svg
span/span_min.svg
span/span_minmax.svg
survey/path_area.svg
walls/all_walls.svg
walls/walls.svg
*.png
.coverage
__pycache__/
.git_describe
nul
